openapi: 3.0.3
info:
  title: MADS API
  description: API рекламной платформы MADS. Интеграция рекламы через REST API без использования SDK.
  version: 1.0.0

servers:
  - url: https://mads-serve.magnit.ru
    description: Production

paths:
  /v1/ads/get:
    get:
      summary: Получение рекламных форматов
      description: Запрос рекламных креативов по идентификатору плейсмента (pad_id). API не требует авторизации.
      operationId: getAds
      parameters:
        - name: pad_id
          in: query
          required: true
          schema:
            type: string
          description: Идентификатор рекламного плейсмента
        - name: user_id
          in: query
          required: false
          schema:
            type: string
          description: Идентификатор пользователя на вашей стороне (для персонализации и статистики)
      responses:
        '200':
          description: Реклама найдена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdResponse'
        '204':
          description: Нет рекламы для показа
        '400':
          description: Неверные параметры

components:
  schemas:
    AdResponse:
      type: object
      description: Общая структура ответа API для всех рекламных форматов
      properties:
        padId:
          type: integer
          description: Id рекламного плейсмента
        templateGroupName:
          type: string
          enum: [modalwindow, fulscreen, multiformat, stories, clickout]
          description: Формат рекламы
        templateName:
          type: string
          description: Имя шаблона, реализующего UI отображение
        displayOptions:
          $ref: '#/components/schemas/DisplayOptions'
        items:
          type: array
          items:
            $ref: '#/components/schemas/Creative'
          description: Массив креативов
        statistics:
          type: array
          items:
            $ref: '#/components/schemas/Statistic'
          description: Пиксели для всего блока

    DisplayOptions:
      type: object
      description: UI-конфигурация (зависит от формата)
      properties:
        size:
          $ref: '#/components/schemas/AspectRatio'
        useAutoScroll:
          type: boolean
        autoScrollTimeout:
          type: integer
          nullable: true
        useHeader:
          type: boolean
        cornerRadius:
          type: integer
        earsWidth:
          type: integer
        interItemSpacing:
          type: integer
        format:
          type: string
        modalWindowCornerRadius:
          type: integer
        backgroundColor:
          type: string

    Creative:
      type: object
      description: Креатив (зависит от templateGroupName)
      properties:
        id:
          type: string
          description: Уникальный идентификатор объявления
        integrationType:
          type: string
          enum: [sdk, native]
        statistics:
          type: array
          items:
            $ref: '#/components/schemas/Statistic'
        contentType:
          type: string
          enum: [image, video]
        content:
          oneOf:
            - $ref: '#/components/schemas/Image'
            - $ref: '#/components/schemas/Video'
        markingInfo:
          $ref: '#/components/schemas/MarkingInfo'
        link:
          $ref: '#/components/schemas/Link'
        title:
          type: string
          nullable: true
        subtitle:
          type: string
          nullable: true
        button:
          $ref: '#/components/schemas/Button'
          nullable: true

    Statistic:
      type: object
      description: Статистический пиксель для отслеживания событий
      properties:
        url:
          type: string
          description: URL пикселя
        type:
          type: string
          description: Тип пикселя (impression, click и др.)
        value:
          type: integer
          nullable: true
          description: Время в секундах
        pvalue:
          type: integer
          nullable: true
          description: Время в процентах от duration
        viewablePercent:
          type: integer
          nullable: true
          description: Процент вхождения в область видимости

    MarkingInfo:
      type: object
      description: Информация о маркировке рекламы
      properties:
        labelText:
          type: string
          description: Текст элемента (Реклама, Соц. реклама)
        orgInfo:
          type: string
          description: Информация о рекламодателе
        url:
          type: string
          description: Ссылка в кнопке
        buttonText:
          type: string
          description: Текст на кнопке в маркировочной модалке
        description:
          type: string
          description: Текст над информацией о рекламодателе
        displayOptions:
          $ref: '#/components/schemas/MarkingDisplayOptions'

    MarkingDisplayOptions:
      type: object
      properties:
        backgroundColor:
          type: string
          description: Цвет фона для лейбла
        textColor:
          type: string
          description: Цвет текста

    AspectRatio:
      type: object
      properties:
        width:
          type: integer
          description: Ширина
        height:
          type: integer
          description: Высота

    Image:
      type: object
      properties:
        url:
          type: string
          description: URL изображения
        size:
          $ref: '#/components/schemas/AspectRatio'

    Video:
      type: object
      properties:
        url:
          type: string
          description: URL видео
        size:
          $ref: '#/components/schemas/AspectRatio'
        bitrate:
          type: integer
          description: Битрейт
        format:
          type: string
          description: Формат (mp4)
        duration:
          type: integer
          description: Длительность в миллисекундах

    Button:
      type: object
      properties:
        type:
          type: string
          description: Тип кнопки (cta, customAction и др.)
        subType:
          type: string
          description: Подтип (rich, promocodeCopy и др.)
        text:
          type: string
          maxLength: 30
          description: Текст кнопки
        model:
          $ref: '#/components/schemas/ButtonContent'
        displayOptions:
          $ref: '#/components/schemas/ButtonDisplayOptions'

    ButtonDisplayOptions:
      type: object
      properties:
        textColor:
          type: string
          description: Цвет текста в HEX
        backgroundColor:
          type: string
          description: Цвет фона в HEX
        cornerRadius:
          type: integer
          description: Скругление кнопки

    ButtonContent:
      type: object
      description: LinkButton или PromocodeButton
      oneOf:
        - type: object
          properties:
            link:
              $ref: '#/components/schemas/Link'
        - type: object
          properties:
            promocode:
              type: string
            onCopyText:
              type: string
              description: Текст кнопки после копирования
            alertText:
              type: string
              nullable: true
              description: Текст алерта

    Link:
      type: object
      properties:
        type:
          type: string
          enum: [deeplink, external]
          description: Тип ссылки
        url:
          type: string
          description: URL
